
<section class="w-50 mx-auto rounded  p-3  shadow  bg-main-light my-4"  *ngIf="step1">

<form action="" [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div class="item-form">
        <label for="email">Email:</label>
        <input formControlName="email"   type="email" class="form-control" id="email" >
    </div>
    <div class="alert alert-danger small p-1" *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched">
        <p  class="mb-0" *ngIf="forgetForm.get('email')?.getError('required')">Email is required</p>
        <p  class="mb-0" *ngIf="forgetForm.get('email')?.getError('email')">Email Not Vaild</p>
        </div>
    <button class="w-100 mt-3 btn-main">forget Password</button>




    <p class="alert alert-warning w-75 mx-auto p-2 mb-0 mt-2 text-center"
     *ngIf="userMsg">{{userMsg}}</p>
</form>


</section>
<section class="w-50 mx-auto rounded  p-3  shadow  bg-main-light my-4" *ngIf="step2">

    <form action="" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <div class="item-form">
            <label for="resetCode">ResetCode:</label>
            <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        </div>
        <button class="w-100 mt-3 btn-main">Reset Code</button>

        <p class="alert alert-warning w-75 mx-auto p-2 mb-0 mt-2 text-center"
        *ngIf="userMsg">{{userMsg}}</p>
    </form>
    
    
    </section>
    <section class="w-50 mx-auto rounded  p-3  shadow  bg-main-light my-4" *ngIf="step3">

        <form action="" [formGroup]=" resetPasswordForm"  (ngSubmit)="newPassword()">
            <div class="item-form">
                <label for="newPassword">Reset Password:</label>
                <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter New Password">
            </div>
            <div class="alert alert-danger small p-1" *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched">
                <p class="mb-0" *ngIf="resetPasswordForm.get('password')?.getError('required')">password is required</p>
                <p class="mb-0" *ngIf="resetPasswordForm.get('password')?.getError('pattern')">password must start with upperCase then from 6 to 10</p>
                </div>
            <button class="w-100 mt-3 btn-main">Reset Password</button>
            <p class="alert alert-warning w-75 mx-auto p-2 mb-0 mt-2 text-center"
            *ngIf="userMsg">{{userMsg}}</p>
        </form>
        
        
        </section>