<section class="w-75 mx-auto rounded shadow p-3 mb-3 bg-main-light" *ngIf="cartDetails;else msg">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Shop Cart</h2>
    <button class="btn btn-sm btn btn-outline-danger" (click)="clearCart()">Clear Cart</button>
  </div>



    <p class="text-main">
        Total Price : 
        {{cartDetails.totalCartPrice  | currency : 'EGP'}}
        </p>
        <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
<div class="col-md-1">
    <img [src]="item.product.imageCover
    " [alt]="item.product.title"  class="w-100">
</div>
<div class="col-md-11 d-flex justify-content-between align-items-center">
    <div>
        <h3 class="h6">{{item.product.title}}</h3>
        <p class="text-main small mb-0">price : {{item.price | currency:'EGP '}}</p>
        <button #btnRemove
         class="btn m-0 p-0 text-main"
          (click)="removeItem(item.product._id,btnRemove)">
          <i class="fas fa-trash-can"></i> Remove
        </button>
    </div>
    <div class="p-1">
        <button  #btn1
         class="btn btn-sm border-success m-2"
        (click)="changeCount(item.count -1,item.product._id,btn1,btn2)"> - </button>
        <span>{{item.count}}</span>
        <button #btn2
        class="btn btn-sm border-success m-2" 
        (click)="changeCount(item.count +1,item.product._id,btn1,btn2)"> + </button>
    </div>
</div>
        </div>



        <button class="btn-main mt-3 " [routerLink]="['/payment',cartDetails._id]">
            Online Payment <img src="./assets/images/visa-1.svg" alt="visalogo">
        </button>
</section>
<ng-template #msg>
    <h3 class="text-center">Your Cart Is Empty...</h3>
</ng-template>
